.game {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
}

.header {
	font-size: 1.5rem;
}

.body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 90px);
	grid-template-rows: repeat(4, 90px);
	grid-gap: 10px;
	margin: auto;
}