.button {
  width: 200px;
  height: 50px;
  background: #e7a61a;
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px 0px #000;
  -moz-box-shadow: 0px 3px 6px 0px #000;
  box-shadow: 0px 3px 6px 0px #000;
  outline: none;
  font-size: 1.2rem;
}