@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Press Start 2P', cursive;
	font-weight: 400;
	font-size: 12px;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button, input {
	font-family: 'Press Start 2P', cursive;
	color: #000;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

:global(.emoji) {
	font-size: 6rem;
}

:global(.feedback-message) {
	max-width: 300px;
	padding-bottom: 30px;
	font-size: 1.2rem;
}